*{
    margin: 3px;
    padding: 3px;
}

h1{
    text-align: center;
    clear: both;
}

table{
    width: 100%;
    border: 1px solid;
    padding: 0;
}

table tr, table td {
    border-color: grey;
}

tr{
    height: 100px;
    padding: 0;
    border: 1px solid;
    }
    
    td{
    height: 100px;
    padding: 0;
    border: 1px solid;
    }

div{
float: left;
width: 30%;
}

body{
    width: 100vw;
    height: 100vh;
}