*{
    margin: 2px;
    padding: 5px;
}

h1{
    text-align: center;
}

table{
      width: 35%;
      border: 2px solid;
      border-collapse: collapse;
    }                   

tr{ 
    text-align: center;
    border: 2px solid;
    }
        
td{
    border: 2px solid;
    padding: 15px;
    height: 10px;
    }
    
    